{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
{{block.super}} 
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Assign To Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="frm" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <select id="id_group" class="form-control" name="group">
                    <option value="">-----Select--------</option>
                    {% for group in groups %}
                    <option value="{{group.id}}">{{group.name}}</option>
                    {% endfor %}
                </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onclick="clickToAssign(event)"  class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extrajs %}
{{block.super}}
<script>
    let action = document.getElementsByName("action");
    action[0].addEventListener('input', function(event) {
        if (event.target.value === 'add_to_group') {
            $("#exampleModalLong").modal();
        }
    })

    function clickToAssign(event) {
        console.log(event)
        var frm = document.getElementById("changelist-form");
        let group = document.getElementById('id_group').value;

        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "grp");
        input.setAttribute("value", `${group}`);
        frm.appendChild(input);
        frm.submit()
    }
</script>
{% endblock %}