@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

body {
    position: relative;
    color: #434343;
    background-color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif !important;
}

textarea {
    resize: none;
}

label,
p {
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

input[type='checkbox'] {
    height: 15px;
    width: 15px;
}

.font-14 {
    font-size: 0.875rem;
}

.all-url-header {
    padding: 1.25rem 1.25rem 1.25rem 1.75rem;
    border: 1px solid #c7cadd;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.filter-row {
    display: flex;
    margin-top: 1rem;
}

.filter-row > div {
    width: 100%;
    margin-right: 1rem;
}

.filter-row > div:last-child {
    margin-right: 0;
}

.assign-url-row {
    display: flex;
}

.assign-url-row > div {
    width: 20%;
    margin-right: 15px;
}

.assign-url-row > div:last-child {
    margin-right: 0;
}

.url-info-wrapper button {
    float: right;
}
.url-info-container {
    border: 1px solid #c7cadd;
    border-radius: 8px;
    padding: 2.5rem 1.5rem;
    margin-bottom: 40px;
}

.url-info-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.url-info-row:last-child {
    padding-bottom: 0;
}

.url-info-row span:first-child {
    font-weight: 500;
}

.url-action-container {
    padding: 2rem 1.25rem 2rem 1.75rem;
    border: 1px solid #c7cadd;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.url-action-container span:first-child {
    font-size: 0.875rem;
}

.url-status-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.url-status-circle.green {
    background-color: #01be30;
}

.url-status-circle.amber {
    background-color: #ffbf00;
}

.url-status-circle.red {
    background-color: #ff1515;
}

.info-icon-wrapper {
    text-align: center;
}

.info-icon-wrapper svg {
    cursor: pointer;
}

.info-icon-wrapper svg path:hover {
    fill: #1d6feb;
}

.border-wrapper {
    border: 1px solid #c7cadd;
    text-align: center;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.custom-spinner-lg {
    height: 80px;
    width: 80px;
}

.spinner-border-sm {
    margin-right: 5px;
}
.custom-date-container {
    width: 300px;
    padding: 7px;
    border-radius: 6px;
    border: .2px solid #ccc;
    background: rgba(199, 202, 221, 0.2) !important;
    border-style: solid;
    height: 42px;
}
