@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

body {
    position: relative;
    color: #434343;
    background-color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif !important;
}

h4 {
    font-size: 1.125rem;
    margin-bottom: 0;
}

textarea {
    resize: none;
}

label,
p {
    margin-bottom: 0;
}

.container {
    padding: 0;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1440px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

.main-content {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
}

/**
 *  Header
 */
.navbar-light .navbar-nav .top-nav__dropdown .nav-link {
    color: #ffffff;
    font-size: 1.5rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0086c6;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.custom-nav-pills {
    background-color: #0086c6;
}

.custom-nav-pills a {
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 0.02rem;
}

.custom-nav-pills a:last-child {
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #0086c6;
}

.custom-spinner-lg {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 30%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.node-editor-search {
    position: relative;
    margin-left: 1rem;
    width: 50%;
}

.custom-search-container {
    position: relative;
    min-width: 15.625rem;
}

.custom-search-container svg {
    position: absolute;
    top: 8px;
    right: 12px;
}

.node-editor-search svg {
    position: absolute;
    top: 8px;
    right: 12px;
}

.custom-search-field {
    background: rgba(235, 246, 254, 0.3);
    border-color: #0086c6;
    border-radius: 20px;
    padding-right: 2.5rem;
}

.custom-search-field::placeholder {
    color: #0086c6;
}

.custom-search.form-control {
    border-color: #0086c6;
    border-radius: 4px !important;
    padding-right: 2.5rem;
}

.custom-btn-primary {
    background-color: #0086c6;
    border-color: #0086c6;
    color: #ffffff;
    padding: 0.375rem 1.125rem;
    border-radius: 20px;
}

.custom-btn-primary:hover,
.custom-btn-primary:focus {
    border-color: #0475ab;
    background-color: #0475ab;
    transition: ease 0.5s;
}

.custom-btn-outline-primary {
    color: #0086c6;
    border-color: #0086c6;
    padding: 0.375rem 1.125rem;
    border-radius: 20px;
}

.custom-btn-outline-primary:hover {
    border-color: #0086c6;
    background-color: #0086c6;
    transition: ease 0.5s;
}

.centricity-form {
    padding-top: 0.75rem;
}
.centricity-form .form-group {
    margin-bottom: 6px;
}

.centricity-form label {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.centricity-form .form-control {
    border: 1px solid #c7cadd;
    border-radius: 0;
}
.centricity-form .form-control:disabled {
    background-color: #f6f9fd;
}
.hierarchy-filters-container {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.hierarchy-filters-container .btn-Link {
    padding: 2px 6px 6px 6px;
}

.search-count {
    margin-left: 7px;
    padding-top: 5px;
}

.column-container {
    background-color: #f6f9fd;
    padding: 1.875rem 1.25rem;
    max-height: 1010px;
}

.facet-value-wrapper {
    overflow-y: auto;
}

.hierarchy-wrapper {
    background-color: #ffffff;
    padding: 0.75rem 0.75rem 1.5rem 1.25rem;
}

.hierarchy-modal .modal-title {
    font-size: 1.2rem;
}

.hierarchy-modal .modal-footer {
    border: 0;
    padding-top: 0.75rem;
}

.hierarchy-modal .modal-body p {
    font-size: 0.875rem;
}

.centricity-btn {
    padding: 0.375rem 2rem;
    border-radius: 4px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centricity-btn.btn-outline-primary {
    color: #0086c6;
    border-color: #0086c6;
}

.centricity-btn.btn-outline-primary:hover {
    border-color: #0086c6;
    background-color: #0086c6;
    color: #fff;
}

.centricity-btn.btn-danger {
    color: #ffffff;
    background-color: #af0b36;
    border-color: #af0b36;
}

.centricity-btn.btn-danger:hover {
    border-color: #cf0c40;
    background-color: #cf0c40;
}

.centricity-btn.btn-primary {
    color: #ffffff;
    background-color: #0086c6;
    border-color: #0086c6;
}

.centricity-btn.btn-primary:hover {
    border-color: #0475ab;
    background-color: #0475ab;
}

.centricity-form .centricity-btn {
    font-size: 1rem;
}

.facet-btn-container {
    padding: 1.5rem 1.125rem;
    margin: 1.25rem 0;
    background-color: #ffffff;
}

.facet-btn-container.facet-category {
    overflow-y: auto;
    height: 615px;
    position: relative;
}

.facet-btn-container.facet-category.bulk-assign-facet {
    overflow-y: auto;
    height: 535px;
    position: relative;
}

.facet-btn-container .facet-btn {
    border-color: #c7cadd;
    color: inherit;
    font-size: 0.875rem;
    text-align: left;
    padding: 0.5625rem 0 0.5625rem 1.25rem;
    margin-top: 0;
    margin-bottom: 0.875rem;
}

.facet-btn-container .facet-btn:last-child {
    margin-bottom: 0;
}

.facet-btn-container .facet-btn:hover,
.facet-btn-container .facet-btn:focus {
    color: inherit;
    background-color: #e7f3ff;
    border-color: #c7cadd;
}

.facet-btn.highlighted {
    color: inherit;
    background-color: #e7f3ff;
    border-color: #c7cadd;
}

.facet-value-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.875rem;
    margin-bottom: 25px;
}

.facet-value-row:last-child {
    margin-bottom: 0;
}

.facet-value-select {
    width: 7.5rem;
    font-size: 0.875rem;
    height: 33px;
}

.facet-value-select option[value=''][disabled] {
    display: none;
}

.add-facet-modal-footer {
    padding-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.add-facet-modal-footer .btn {
    font-size: 14px;
}

.custom-select-container {
    font-size: 14px;
}

.custom-react-select__control {
    height: 38px;
    border: 1px solid #c7cadd !important;
    border-radius: 0;
}

.custom-react-select__indicator-separator {
    display: none;
}

.custom-react-select__control:focus {
    outline: none !important;
    border: 1px solid #e5f0f7 !important;
}

.spinner-border-sm {
    margin-right: 5px;
}

@media (min-width: 576px) {
    .bulk-assign-modal .modal-dialog {
        max-width: 800px;
    }
}

.bulk-assign-modal .modal-content {
    background-color: #f6f9fd;
}

.select-all-container {
    margin-left: 15px;
    margin-bottom: 15px;
}

.select-all-checkbox {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.select-all-container label {
    vertical-align: middle;
}

.facet-category-filter {
    width: 8.5rem;
    font-size: 14px;
}
.select-depts-checkbox {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 5px;
}
